// Menu layouts and styles
// (c) Ralf Mosshammer, Siemens AG, 2015
// (c) Samuel Zweifel / ETH Zurich
// (c) Simon Mayer / Pro2Future GmbH, 2016

@import "base";
@import "color";

@header_height: 80px;
@impressum_height: 40px;
@logo-area-height: 80px;

#header {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: @header_height * 1px;
  font-size: 14pt;
  color: @c_interactions_snow;
  background: @c_interactions_blue;
  z-index: 9998;
  box-shadow: 0px 4px 40px -0px rgba(0, 0, 0, 0.5);
  .debug-border();
  .debug-background();
}

#right {
  display: flex;
  flex-direction: row;
}

#header .logo-left {
  margin-left: 30px;
  img {
    margin-top: 10px;
    height: @logo-area-height - 10px;
  }
}

#header .logo-right {
  margin-right: 30px;
}

#impressum {
  text-align: right;
  height: @impressum_height;
  font-size: @font-size--impressum;
  font-weight: normal;
  color: @c_interactions_snow;
  overflow: hidden;
  padding-right: 20px;
}

#settings {
  flex-grow: 1;
}

#workspace {
  div {
    font-size: @font-size--impressum;
  }
  select {
    background: transparent;
    color: @c_interactions_snow;
    font-weight: bold;
    cursor: pointer;
    option {
      background-color: @c_interactions_blue;
    }
  }
}


#container {
  position: absolute;
  padding: 20px;
  width:100%;
  box-sizing: border-box;
  top: @header_height;
  display: flex;
  flex-flow: column;
  height: calc(~"100vh - @{header_height}");
  background: @c_interactions_snow;
}

#loading {
  position: absolute;
  top: @header_height + 100px;
  left: 0;
  right: 0;
  width: 400px;
  margin: auto;
  text-align: center;
  animation: pulse-logo 1s ease-in-out infinite alternate;
  @keyframes pulse-logo {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
}

#loading p {
  color: @c_interactions_blue;
  align: center;
}

#loading-logo {
  position: relative;
  width: 100%;
}

