@import "color";

#blockly-controls {
  height: 10%;
  width:100%;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  background-color: @c_interactions_gray_light;
  border-right: 2px solid @c_interactions_gray_light;
  button{
    font-weight: bold;
    color: @c_interactions_gray_dark;
    border: none;
    background-color: white;
    &:hover{
      background-color: @c_interactions_gray_lighter;
    }
  }
}

.toolbox-title {
  background-color: @c_interactions_blue_dark;
  display: flex;
  align-items: center; 
  color: white;
  font-weight: bold;
  padding-left: 20px;
  width: 190px;
  height: 100%;
  font-size: 20pt;
}

.toolbox-tabs {
  padding-left: 3px;
  display: flex;
  align-items:flex-end;
  font-size: 10pt;
  .nav-link {
    padding: 4px 8px;
    margin:0px 5px;
    margin-bottom: -1px;
  }
}

#add-new-tab{
  margin: 4px;
  border-radius: 5px;
}  


.blockly-buttons{  
  flex-grow: 1;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px; 
  button {
    font-size: 10pt;
    margin:5px;
    max-height: 50%;
  }
}

#blockly-relative{
  height:90%;
  width:100%;
  position:relative;
}

#blockly-injection{
  position:absolute;
  box-sizing: content-box;
  border-right: 1px solid @c_interactions_gray_light;
  border-bottom: 1px solid @c_interactions_gray_light;
}

.blocklyToolboxDiv {
  width: 190px;
}

.blocklyTreeRow {
  margin: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: left;
}

.blocklyMainBackground{
  stroke: none;
}



