@import "color";

#mas-config-modal {
  #button-save {
    background-color: @c_interactions_blue;
    color: white;
  }

  #button-run {
    background-color: @c_interactions_accent_one;
    color: white;
  }

  .btn-light {
    background-color: @c_interactions_gray_lighter;
    color: @c_interactions_gray_dark;
    width:100%;
  }
}