
<div class="content-container-spacer">
  <div class="content-spacer">
    <div class="dashcard-header method_style">Content</div>
  </div>
</div>

<div class="inside-tasks-scroller">

  <div id="Response" element="contentInstance" class="contentcard" style="visibility: hidden; animation: slideFromRight 0.5s forwards; -webkit-animation: slideFromRight 0.5s forwards; animation-delay: {{half @index}}s; -webkit-animation-delay: {{half @index}}s;">

  {{#if responseString}}

<div>{{responseString}}</div>

{{else}}

<div>No Content</div>
{{/if}}

  </div>
</div>
