<div>
  <div class="accordion" id="inspect-accordion">
    <div class="accordion-item">
      <div class="accordion-header inspect-header">
        <div class="runtime-id">
          ID: <p></p>
        </div>
        <button class="btn btn-danger" id="stop-runtime-1">Stop</button>
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#inspect-collapse-1" aria-controls="inspect-collapse-1"></button>
      </div>
      <div id="inspect-collapse-1" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p>BODY</p>
        </div>
      </div>
    </div>
  </div>
</div>